{% extends 'main.html'  %}
{% block content %}
    
<h1>Login </h1>
<div>
    <div>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>

    <form actions = "login" method="post">
        {% csrf_token %}
       
        <input type="text" name="username" placeholder="UserName" /><br/>
       
        <input type="password" name="password" placeholder="Password" /><br/>
      
        <input type="submit" name="Submit" value="Login"/>
    </form>
</div>
{% endblock content %}